* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar {
    background-color: #0473C0;
    color: white;
    padding: 10px 0 30px 0;
}

#navbar h1 {
    float: left;
    margin: 10px;
}

#navbar ul {
    float: right;
    list-style-type:none;
}

#navbar ul li {
    float: left;
}

#navbar ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
#navbar ul li a:hover{
    background-color: rgb(20, 142, 230);
}
