* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navbar {
    background-color: #0473C0;
    color: white;
    overflow: hidden;
}

#navbar h1 {
    float: left;
    margin-bottom: 10px;
    margin: 10px;
}

#navbar ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

#navbar ul li a:hover {
    background-color: rgb(20, 142, 230);
}

.container {
    margin: 10px auto;
    width: 40%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.container h1 {
    padding-bottom: 10px;
}

.container input, textarea {
    width: 100%;
    max-width: 100%;
    max-height: 150px;
    outline: none;
    border: 1px solid lightgray;
    padding: 5px;
    margin-top: 5px;
}

.container input:focus {
    background-color: rgb(233, 243, 250);
}

.container .btn {
    width: 100px!important;
    background-color: #0473C0;
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
}

.container .btn:hover {
    background-color: rgb(20, 142, 230);
}

.current {
    background-color: rgb(20, 142, 230);
}

.boxes_container {
    margin: 10px;
}

.box {
    float: left;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 650px;
}

.box img {
    float: left;
    width: 150px;
    margin: 5px;
}

.box a {
    text-decoration: none;
    color: #0473C0;
}

.box h1 {
    float: left;
    font-size: 1.25rem;
    margin-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
}

.box .sub_box {
    position: relative;
    top: 80px;
    right: 40px;
    overflow: hidden;
}

.box .sub_box h2 {
    color: rgb(192, 10, 4);
    float: right;
}

/* detail */

.detail_container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}

.item_img {
    float: left;
    width: 400px;
    border-radius: 20px;
}

.detail_box {
    margin: 5px;
    padding: 10px;
}

.main_detail h1 {
    background-color: rgb(20, 142, 230);
    color: white;
    padding: 5px;
}

.detail_box p {
    width: 700px;
    text-align: justify;
    text-justify: inter-word;
}

.main_container {
    float: right;
}

.sub_detail h3 {
    margin: 5px;
    color: rgb(20, 142, 230);
}


.candp {
    margin: 10px;
    padding: 15px;
    border: 1px dashed #0473C0;
    overflow: hidden;
}

.candp h3 {
    float: left;
    color: #0473C0;
}

.candp i {
    margin-right: 3px;
    color: #0473C0;
}

.candp h2 {
    float: right;
    color: red;
}

.item_footer .dates {
    float: left;
}

.item_footer .sub_detail {
    float: right;
}

/* footer */

#footer {
    background-color: #0473C0;
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
}

.errorlist {
    list-style: none;
    color: lightslategray;
    font-style: italic;
}

.clr {
    clear: both;
}

.detail_box h4 {
    color: lightslategray;
    margin: 5px;
}