<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haraj | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="navbar">
        <h1>Haraj</h1>
        <ul>
            <li><a href="{% url 'home' %}" class="current">Home</a></li>
            <li><a href="{% url 'add_item' %}">Add Item</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>


    {% block body %}
    {% endblock %}

    <div class="clr"></div>

    <div id="footer">
        <p>All copy rights 2019&copy; are reserved </p>
    </div>
</body>

</html>